.cek {
  border: 1px solid red;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.3rem;
}
body::-webkit-scrollbar:hover {
  cursor: grab;
}

body::-webkit-scrollbar-track {
  background-color: #000305;
}

body::-webkit-scrollbar-thumb {
  background-color: #00a5b163;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #00a5b1;
}

/* Font */
.satoshi-regular {
  font-family: "Satoshi-Regular", sans-serif;
}

.satoshi-bold {
  font-family: "Satoshi-Bold", sans-serif;
}

.satoshi-black {
  font-family: "Satoshi-Black", sans-serif;
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300 !important;
  overflow-x: hidden;
}

/* Color */
.bg-hitam {
  background-color: #000305;
}

.bg-putih {
  background-color: #ededed;
}

.bg-tosca {
  background-color: #00a5b1;
}

.text-hitam {
  color: #000305;
}

.text-putih {
  color: #ededed;
}

.text-abu {
  color: #797979;
}

.text-tosca {
  color: #00a5b1;
}

body {
  background-color: #000305;
  color: #ededed;
}

/* Hero */
.hero-wrapper {
  height: 100vh;
  width: 100vw;
}

.hero-text {
  font-size: calc(32px + (80 - 32) * ((100vw - 300px) / (1600 - 300)));
}

.hero-text-paragraf {
  font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
}

/* Team */
.foto-wrap {
  position: relative;
  background-color: #00a5b1;
  border-radius: 0.5rem;
  height: 480px;
  cursor: grab;
  transform-style: preserve-3d;
}

.foto-nama {
  text-shadow: 3px 3px 25px #000305;
  font-family: "Satoshi-Black";
  position: absolute;
  width: 100%;
  opacity: 0;
  bottom: 0;
  transform: translate3d(0, 0, 100px);
  transition: 0.3s ease-in-out;
}
.foto-wrap:hover .foto-nama {
  transform: translate3d(0, 0, 100px);
  bottom: 60px;
  opacity: 1;
}

.foto-nim {
  text-shadow: 3px 3px 25px #000305;
  font-family: "Satoshi-Bold";
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  transition: 0.3s ease-in-out;
}
.foto-wrap:hover .foto-nim {
  transform: translate3d(-50%, 0, 100px);
  bottom: 30px;
  opacity: 1;
}

.foto-role {
  font-size: calc(32px + (56 - 32) * ((100vw - 300px) / (1600 - 300)));
  font-family: "Satoshi-Black";
  position: absolute;
  width: 100%;
  opacity: 0;
  top: 0;
  left: -20px;
  transform: translate3d(0, 0, 30px) scale(0.1) rotate(0deg);
  transition: 0.3s ease-in-out;
}
.foto-wrap:hover .foto-role {
  transform: translate3d(0, 0, 30px) scale(1.1) rotate(-3deg);
  top: 20px;
  opacity: 1;
}

@media (max-width: 767.98px) {
  .foto-role {
    font-size: calc(32px + (56 - 32) * ((100vw - 300px) / (1600 - 300)));
    font-family: "Satoshi-Black";
    position: absolute;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 30px;
    transform: translate3d(0, 0, 30px) scale(0.1) rotate(0deg);
    transition: 0.3s ease-in-out;
  }
  .foto-wrap:hover .foto-role {
    transform: translate3d(0, 0, 30px) scale(1.1) rotate(-3deg);
    top: 20px;
    opacity: 1;
  }

  .form-email {
    margin-bottom: 10px;
    color: #ededed;
    padding: 0.5em 3em 0.5em 0.5em;
    box-sizing: border-box;
    background-color: #0e0e0e;
    border: 1px solid #ededed50;
    border-radius: 1rem;
  }
}

.foto-portrait {
  position: absolute;
  width: auto;
  height: 100%;
  transform: translate3d(0, -10px, 50px);
}
.foto-wrap:hover .foto-portrait {
  transform: translate3d(0, -10px, 50px);
}

/* Form */
.form-box {
  box-sizing: border-box;
  background-color: #0e0e0e;
  border: 1px solid #ededed50;
  border-radius: 1rem;
}

.form-email {
  color: #ededed;
  padding: 1em 7em 1em 1em;
  box-sizing: border-box;
  background-color: #0e0e0e;
  border: 1px solid #ededed50;
  border-radius: 1rem;
}

.form-button {
  color: #000305;
  padding: 1em 2em;
  box-sizing: border-box;
  background-color: #00a5b1;
  border-radius: 1rem;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.form-button:hover {
  opacity: 0.7;
}

.form-image {
  height: 240px;
}
